{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}"  />

    <title>django.login</title>
</head>
<body>
    <div class="container">
        <header>
            <h1 class="header-title">Welcome to Djangology</h1>
            <h2>Make Music With Your Friends Around the World</h2>
        </header>
        <div class="login-box">
            <h2>Login</h2>
            <form id="login-form" action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>

                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>

                <button type="submit" id="login-button">Login</button>
            </form>
            <div class="error-message">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
            <div class="signup">
                <p>Don't have an account? <a href="{% url 'sign_up_nav' %}">Sign up</a></p>
            </div>
        </div>
        </div>
    </div>


</body>
</html>
